{{#with model as |reminder| }}

<div class="reminder-details">
  <h1 class="spec-reminder-title">{{model.title}}</h1>

  {{#if isEditing}}

    {{reminder-form reminder=model submitForm=(action "update")}}

    <button type="button" name="button" class="revert-button" {{action "revertChanges" reminder.id on="click"}}>Revert</button>


  {{else}}

    <p class="spec-reminder-date">{{model.date}}</p>

    {{#if model.notes}}
      <p class="spec-reminder-notes">{{model.notes}}</p>
    {{/if}}

    <button type="button" name="button" class="edit-button" {{action "toggleEditing"}}>Edit Reminder</button>

  {{/if}}

</div>

{{/with}}
