<section class="reminders">

  <article class="reminders-list">

    <article class="search-bar">
      {{reminders-filter value=search searchUpdated=(action "handleSearch") class="search-input"}}
    </article>

    {{#each reminders as |reminder|}}
      <article class="individual-reminder">

        <span class="save-cue" hidden={{unless reminder.hasDirtyAttributes 'true'}}>
          &#9998; Save your changes
        </span>

        <h1>{{#link-to 'reminders.reminder' reminder.id class="spec-reminder-item"}}{{reminder.title}}{{/link-to}}</h1>

        <p class="reminder-date">{{reminder.date}}</p>

        {{delete-button reminder=reminder}}
      </article>
    {{/each}}

    {{#link-to 'reminders.new' class="add-new-button" tagName="button"}}&#65291; Reminder{{/link-to}}

  </article>

  <section class="main-content">
    {{outlet}}
  </section>

</section>
